[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
kivymd = {file = "https://github.com/kivymd/KivyMD/archive/master.zip"}
watchdog = "*"
pypubsub = "*"
python-slugify = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]
black = "*"
sphinx = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
